@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


body {
   background-color: #000000;
   color: white;
   font-family: "Quicksand", sans-serif;
}

header {
   font-size: 25px;
   font-family: "Bokor", system-ui;
}
.chamada {
   background: rgb(184, 156, 213);
   padding-top: 80px;
   padding-bottom: 80px;
   display: flex;
   justify-content: center;
}

.categoria {
   padding-right: 20px;
   padding-left: 20px;
}

.chamada-texto {
   margin-right: 5%;
}

img {
   height: 200px;
}

.categoria-videos {
   display: flex;
   overflow-x: auto;
   gap: 10px;
}